<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCUUUmN4sHKlXW3TkQa3tqulrjW-jX3dY</string>
	<key>GCM_SENDER_ID</key>
	<string>1045800787347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unikwork.app.FirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>swiftui-d9c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-d9c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045800787347:ios:da478a73a328bf8a89dc66</string>
</dict>
</plist>